name: Snowflake OIDC

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: 5fabb103-26ae-49f2-bd01-3897c33b9801
          tenant-id: 0c562b39-f6e8-4f97-9f62-06f38e583e00
          allow-no-subscriptions: true

      - name: Get Azure Access Token for Snowflake
        run: |
          TOKEN=$(az account get-access-token \
            --resource api://5fabb103-26ae-49f2-bd01-3897c33b9801 \
            --query accessToken -o tsv)
          echo "SNOWFLAKE_TOKEN=$TOKEN" >> $GITHUB_ENV
          echo "$TOKEN"

      - name: Debug token
        run: |
          echo "$TOKEN" | cut -d '.' -f2 | base64 -d | jq

      - name: Decode token safely
        run: |
          PAYLOAD=$(echo "$TOKEN" | cut -d '.' -f2)
          echo "$PAYLOAD" | base64 -d 2>/dev/null | jq '{aud, iss, sub, preferred_username, scp}'
        env:
          TOKEN: ${{ env.TOKEN }}

      - name: Validate token exists
        run: |
          if [ -z "$SNOWFLAKE_TOKEN" ]; then
            echo "Token is empty"
            exit 1


      - name: Connect to Snowflake
        run: |
          pip install snowflake-connector-python
          python snowflake_test.py

